.flashcard-grid {
  display: grid;
  grid-template-columns: repeat(6, 265px);
  grid-template-rows: auto;
  margin-top: 50px;
  gap: 50px;
}

.flashcard {
  display: grid;
  grid-template-columns: repeat(4, 57.5px);
  grid-template-rows: 230px 57.5px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 5px 1px hsla(0, 0%, 0%, 0.5);
  color: var(--text-color);
  border-radius: 10px;
  font-weight: bolder;
  font-size: 30px;
  padding: 10px;
  gap: 5px;
}

.big-section {
  display: flex;
  align-items: center;
  text-align: center;
  grid-column: span 4;
  background-color: hsla(189, 75%, 30%, 0.5) !important;
}

.flashcard div {
  border: 2px solid hsla(0, 0%, 0%, 0.3);
  background-color: var(--main-color);
  border-radius: 7px;
}
