:root {
  --flashcard-display-size: 300px;
  --flashcard-border-amount: calc(var(--flashcard-display-size) / 35);
}

.flashcard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--flashcard-display-size));
  margin-top: 50px;
  gap: 50px;
}

.flashcard {
  display: grid;
  grid-template-rows: repeat(
    4,
    calc(
      var(--flashcard-display-size) / 4 - 5px - var(--flashcard-border-amount)
    )
  );
  grid-template-columns: repeat(
    2,
    calc(var(--flashcard-display-size) / 2) - 5px -
      var(--flashcard-border-amount)
  );
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: var(--flashcard-border-amount) var(--flashcard-border-amount)
    calc(var(--flashcard-border-amount) / 1.5) 1px hsla(0, 0%, 0%, 0.5);
  color: var(--text-color);
  border-radius: var(--flashcard-border-amount);
  font-weight: bolder;
  font-size: calc(var(--flashcard-display-size) / 7);
  padding: var(--flashcard-border-amount);
  gap: 5px;
}

.big-section {
  grid-column: span 2 / auto;
  grid-row: span 3 / auto;
}

.flashcard-modifier {
  font-size: calc(var(--flashcard-border-amount) * 3);
}

.flashcard-modifier img {
  filter: invert(100%);
}

.flashcard-modifier:hover img {
  filter: opacity(70%);
}

.big-section,
.flashcard-modifier {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: hsla(0, 0%, 0%, 0.3);
  border-radius: calc(var(--flashcard-border-amount) / 2);
  border: 2px solid hsla(0, 0%, 0%, 0.3);
  transition: 0.3s;
}

.big-section:hover,
.flashcard-modifier:hover {
  cursor: pointer;
  background-color: var(--text-color);
  color: var(--main-color);
}
