@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,900;1,400;1,900&display=swap");

:root {
  --background-color: rgb(33, 153, 147);
  --main-color: hsl(177, 34%, 26%);
  --text-color: hsl(0, 0%, 100%);
  font-family: Barlow, Arial;
}

body {
  font-size: 30px;
  background-color: var(--background-color);
  color: var(--main-color);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7);
}

.navbar {
  display: block;
  width: 100%;
  height: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: var(--main-color);
  transition: 0.3s;
  border-bottom: 3px solid hsla(0, 0%, 0%, 0.3);
}

.tab.active {
  background-color: rgba(255, 255, 255, 50%);
}

.navbar div {
  float: left;
  display: flex;
  width: 100px;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 25px;
  color: var(--text-color);
  background-color: rgba(255, 255, 255, 0);
  transition: 0.2s;
  border-right: 3px solid hsla(0, 0%, 0%, 0.3);
}

.navbar div:hover {
  background-color: rgba(255, 255, 255, 50%);
  font-weight: bolder;
  cursor: pointer;
}

.navbar img {
  height: 30px;
}

#close-navbar-button {
  float: right;
  border-left: 3px solid hsla(0, 0%, 0%, 0.3);
  border-right: none !important;
}

#link-content {
  transition: margin-top 0.3s;
  padding: 30px;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block !important;
}

.open-navbar-button {
  width: 50px;
  height: 50px;
  text-decoration: underline !important;
  color: var(--text-color);
}

.open-navbar-button:hover {
  font-weight: bolder;
  cursor: pointer;
  filter: invert(100%);
}

.flashcards-quiz {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  color: var(--text-color);
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
  transition: 0.5s;
}

.quiz-back-button {
  position: absolute;
  left: 25px;
  top: 25px;
  display: flex;
  padding: 15px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  float: left;
  background-color: var(--background-color);
  box-shadow: 2px 2px 4px 1px hsla(0, 0%, 0%, 0.3);
  transition: 0.3s;
}

.quiz-back-button:hover {
  background-color: var(--text-color);
  cursor: pointer;
}

.quiz-flashcard-display {
  position: absolute;
  width: 50vw;
  height: 60vh;
  left: 25vw;
  border-radius: 10px;
  border: 5px solid #222;
  background-color: var(--background-color);
}
