@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,900;1,400;1,900&display=swap");

:root {
  --background-color: rgb(33, 153, 147);
  --main-color: hsl(177, 34%, 26%);
  --text-color: hsl(0, 0%, 100%);
  font-family: Barlow, Arial;
}

body {
  font-size: 30px;
  background-color: var(--background-color);
  color: var(--main-color);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7);
}

.navbar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 20px;
}

.tab.active {
  background-color: rgba(255, 255, 255, 50%);
}

.navbar div {
  padding: 20px 38px;
  text-decoration: none;
  font-size: 25px;
  color: var(--text-color);
  background-color: rgba(255, 255, 255, 0);
  display: block;
  transition: 0.2s;
}

.navbar div:hover {
  background-color: rgba(255, 255, 255, 50%);
  font-weight: bolder;
  cursor: pointer;
}

#link-content {
  transition: margin-left 0.3s;
  padding: 30px;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block !important;
}

.open-navbar-button {
  width: 50px;
  height: 50px;
  text-decoration: underline !important;
  color: var(--text-color);
}

.open-navbar-button:hover {
  font-weight: bolder;
  cursor: pointer;
  filter: invert(100%);
}
