@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,900;1,400;1,900&display=swap");

:root {
  --background-color: rgb(33, 153, 147);
  --main-color: hsl(177, 34%, 26%);
  --text-color: hsl(0, 0%, 100%);
  font-family: Barlow, Arial;
}

body {
  font-size: 30px;
  background-color: var(--background-color);
  color: var(--main-color);
}

#link-content {
  transition: 0.3s;
}

.open-navbar-button img {
  width: 50px;
  height: 50px;
  text-decoration: underline !important;
  color: var(--text-color);
}

.open-navbar-button img:hover,
.navbar div:hover {
  font-weight: bolder;
  cursor: pointer;
  filter: invert(100%);
}
